@import url("../../index.css");

.bodyBackground{
	padding-Top: 00px;
	margin:auto;
	width:90%;
	color: var(--verydark);
}




hr.pdivider {
	background-color:var(--light);
	border-top: 2px dotted var(--dark);
}


