.resumeHolder{
	width: 700px;
	height: 100vh;
	background: var(--dark);
	border-color: var(--verydark);
	border-style: solid;
	border-width: 3px;
	color:black;
	text-align:left;
	padding:20px;
}

.date{
	font-style: italic;
}


