@import url("../../index.css");

.headerBackground{
	background: linear-gradient(to bottom right, var(--verydark), var(--dark));
	margin: auto;
	height: 100px;
	border-radius: 5px;
}

.headerText{
	color: var(--light);
	float: right;
	margin: 10px;
}