.headerBackground{
	background: linear-gradient(to bottom right, #2098D1, rgb(70, 70, 70));
	margin: auto;
	height: 100px;
	border-radius: 5px;
	border: 2px solid grey;
}

.headerText{
	color: White;
	float: right;
	margin: 10px;
}