/*

--verylightT:rgba(221,223,212,0.4);
	--verylight: #dddfd4;
	--light: #fae596;
	--dark: #3fb0ac;
	--verydark: #173e43;
*/
:root{
	--verylight: #252839;
	--light: #677077;
	--dark: #b5b5b7;
	--verydark: #f2b632;
}



*, *:after, *:before {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
* {margin:0;padding:0;border:0 none;position: relative; outline: none;
}

h1{
	font-family: 'Ubuntu', sans-serif;
}

h2{
	font-family: 'Ubuntu', sans-serif;
}

p{
	font-family: 'Ubuntu', sans-serif;
	padding: .5rem;
}


h2 > a{
  text-decoration: none;
  color: var(--verydark);
  z-index: 1;
}



